<link rel="stylesheet" href="/stylesheets/nav.css">
<footer class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            all rights reserved
        </div>
    </div>

</footer>