<link rel="stylesheet" href="/stylesheets/nav.css">
<footer class="container-fluid">
    <div class="row">
        <div class="col-1 col-sm-4">
            <hr>
        </div>
        <div class="col-10 col-sm-4 logos">
            <a href="#"><img class="logofooter" src="/images/facebook.png" alt=""></a>
            <a href="#"><img class="logofooter" src="/images/instagram.png" alt=""></a>
            <a href="#"><img class="logofooter" src="/images/linkedin.png" alt=""></a>
            <a href="#"><img class="logofooter" src="/images/twitter.png" alt=""></a>
            <a href="#"><img class="logofooter" src="/images/youtube.png" alt=""></a>
            
            
            
            
            
        </div>
        <div class="col-1 col-sm-4">
            <hr>
        </div>
        
        <div class="col-12 text-center">
            Cinephile. 2023. All rights reserved.
        </div>
    </div>

</footer>