<link rel="stylesheet" href="/stylesheets/nav.css" />
<!-- nav para escritorio -->
<div class="mainnav container-fluid">
  <div class="row navrow">
    <div class="col-9 enlaces">
      <a href="/"><h1 class="logo">Cinephile</h1></a>
      <h1>/</h1>
      <a href="/user"><h4>Usuarios</h4></a>
      <h1>/</h1>
      <a href="/movies/allMovies"><h4>Películas</h4></a>
      <h1>/</h1>
      
        <div class="buscador">
            <form action="/movies/searchMovies" method="post">
                <input type="text" name="movie" placeholder="Buscar películas" />
                <button type="submit">Buscar</button>
            </form>
       
        </div>
      
    </div>

    <div class="col-3 navbutton">
      <a href="/user/addUser"><button>Añadir usuario</button></a>
      <a href="/user/login"><button>Login</button></a>
    </div>
  </div>
</div>
<!-- nav para movil -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Cinephile</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user"><span>/</span>Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/movies/allMovies"><span>/</span>Todas las películas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>/</span> Registro
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user/addUser">Alta de Usuario</a></li>
              <li><a class="dropdown-item" href="/user/login">Login</a></li>
              
            </ul>
          </li>
        
        </ul>
        <form class="d-flex" action="/movies/searchMovies" method="post" role="search">
          <input class="form-control me-2" type="search" name="movie" placeholder="Buscar películas" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
