body{
    background: linear-gradient( rgb(255, 170, 0) 5%, white 50%);
}
.cardrow {
    padding: 30px 0px;
    justify-content: center;
}
.title {
    padding-bottom: 30px;
}
.cardmini>h3{
    margin-left: 20px;
    margin-bottom: 3px !important;
}
.cardmini>h5{
    margin-left: 20px;
    margin-bottom: 20px !important; 
}
.cardmini{
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    height: 530px;
    width: 250px;
    border: 1px solid rgb(255, 170, 0) !important;
    box-shadow: 3px 3px 8px rgb(255, 170, 0);
    border-radius: 10px !important;
    margin-left: 27px;
    overflow: hidden;

}
/* .cardminimg{
    display: flex;
    justify-content: center;
    /* height: 300px;
    width: 300px; */

.cardmini img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
    
}


.divform{
    width: 600px;
    color: rgb(0, 0, 0);
    padding: 20px;
    border: 1px solid rgb(255, 170, 0) !important;
    border-radius: 10px !important;
    box-shadow: 3px 3px 8px rgb(255, 170, 0);
    margin-bottom: 30px;
}
.enviar{
    border: 2px solid rgb(255, 170, 0);
    color: black;
    background-color: white;
    border-radius: 14px;
    padding: 2px 18px;
    margin-right: 30px;
    font-weight: 600;
}
.enviar:hover{
    background-color:  rgb(255, 170, 0);
    color: white;
}
.resize{
    resize: none;
}
@media (max-width: 858px){
    .cardmini{
        display: none;
    }
    .divform{
        width: 97%;
    }
    input{
        width: 100%;
    }
}