body{
    background: linear-gradient( rgb(255, 170, 0) 5%, white 50%);
}
.cardrow {
    justify-content: space-between;
    min-height: 70vh;
   
}
.h1sh{
    text-shadow: 1px 1px 1px rgb(0, 0, 0) !important;
}
.card {
    min-width: 120px !important;
    max-height: 600px !important;
    /* height: 60% !important; */
    color:   rgb(0, 0, 0);
    background: white !important;
    margin: 30px 0px;
    border: 1px solid  rgb(255, 170, 0) !important;
    box-shadow: 3px 3px 8px rgb(255, 170, 0);
    padding: 0px 0px !important;
    overflow: hidden;
    border-radius: 14px !important;
}
.card h4, h6{
    margin-left: 10px;
    margin-top: 10px;
}
.card img{ 
    height: 22vw !important;
    /* width: 22vw !important; */
    object-fit: cover !important;
    object-position: center !important;
   
}

.cardfilms{
    /* width: 100% !important; */
    color:   rgb(0, 0, 0);
    margin: 30px 0px;
    border: 1px solid  rgb(255, 170, 0) !important;
    box-shadow: 3px 3px 8px rgb(255, 170, 0);
    padding: 0px 20px 20px 20px !important;
    border-radius: 14px;
}
.buttonEditUser{
    margin: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 170, 0);
    border-radius: 14px;
    padding: 2px 18px;
    font-weight: 600;
    border: 2px solid rgb(255, 170, 0);
}
.buttonEditUser:hover{
    background-color: white;
    color: black;
}
.buttonEdit{
    margin: 4px 4px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 170, 0);
    border-radius: 14px;
    padding: 2px 18px;
    font-weight: 600;
    border: 2px solid rgb(255, 170, 0);
}
.buttonEdit:hover{
    background-color: white;
    color: black;
}

.buttonSMore{
    margin: 4px 4px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
    padding: 2px 18px;
    
    font-weight: 600;
    border: 2px solid rgb(255, 170, 0);
}
.buttonSMore:hover{
    color: white;
    background-color:  rgb(255, 170, 0);
    border: 2px solid white;
}
.buttonDelete{
    margin: 4px 4px;
    color: rgb(255, 255, 255);
    background-color: rgb(189, 0, 0);
    border-radius: 14px;
    padding: 2px 18px;
    font-weight: 600;
    border: 2px solid rgb(189, 0, 0);
}
.buttonDelete:hover{
    color:rgb(189, 0, 0);
    background-color: white;
    border: 2px solid rgb(189, 0, 0);
}

.movieImg{
    border: 1px solid  rgb(255, 170, 0);
    border-radius: 15px;
    overflow: hidden;
    width: 150px;
    height: 200px;

}
.movieImg>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.movieText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 75%;
   
}

.description{

    height: 100px;
   overflow: hidden;
    
}
.eachFilm{
    border: 1px solid rgb(255, 170, 0);
    background-color: white;
    border-radius: 14px;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px  rgb(255, 170, 0);
}
.collec{
    margin: 20px 0px;
}
.menucol{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
}
@media (max-width: 585px){
    .card{
        width: 95% !important;
        min-height: 60vh !important;
        margin: auto;
        margin-bottom: 20px !important;
    }
    .card img{
        min-height: 50vh;
    }
    .eachFilm{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px !important;
        margin: auto;
        margin-bottom: 20px;
    }
    .eachFilm h5{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    .cardfilms{
        width: 95% !important;
        margin: auto !important;
        padding: 10px !important;

    }
    .movieText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}