div {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    /* object-fit: cover;
    object-position: center; */
    
   
   
    border: 1px solid gray;
}
h1{
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

