body{
    background: linear-gradient( rgb(255, 170, 0) 5%, white 50%);
}
.cardrow {
    padding: 2vw 1vw 2vw 1vw;
    gap: 10px;
}
.h1sh{
    text-shadow: 1px 1px 1px rgb(0, 0, 0) !important;
}
.card {
   color:   rgb(0, 0, 0);
   background: none !important;
   margin: 30px 0px;
   border: 1px solid  rgb(255, 170, 0) !important;
   box-shadow: 3px 3px 8px rgb(255, 170, 0);
   padding: 0px !important;
   /* text-align: center; */
   font-size: 16px !important;
   position: relative;
   overflow: hidden;
}
.card:hover {
    box-shadow: 3px 3px 8px rgb(0, 0, 0);
}
.container {
    min-height: 35vw;
}

.smCardrow{
    justify-content: space-evenly;
    gap: 18px;
    padding: 2vw;
    
}
.card>a{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.cardImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}
.headFilms{
    position: absolute;
    align-items: flex-start !important;
}
.headFilms>p{
    margin-left: 5px !important;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px 1px black;
    margin: 0px;
}

@media (max-width: 585px){
    .container {
        min-height: 65vh;
    }
    .card {
        width: 70% !important;
        margin: auto !important;
    }
}
